@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body{
  --tw-bg-opacity: 1;
  background-color: rgb(251 207 232 / var(--tw-bg-opacity)) /* #fbcfe8 */;
}

/* styles.css */
.Story-styles_header__-rnWL {
  position: absolute !important;
  top: auto !important;

  /* display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important; */
  width: 100% !important; 
}